<h1>Awesome Classmates!</h1>
<ul> 
	<li><%= link_to "Fremen", student_path("fremen") %></li>
	<li><%= link_to "Mike", student_path("mike") %></li>
	<li><%= link_to "Andrew", student_path("andrew") %></li>
</ul>
